/* 
.register {
    background-image: url('../../../assets//images/registerbackground.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  .login-second {
    background-image: url('../../../assets/images/unsplash_m9pzwmxm2rk.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 75%;
    height: 75%; 
    border-radius: 8px;
  }


  .login_sign_in_color {
    color:  #98690C;
    
  }

  .hello{
   padding-top: 50px;
  }

  @media only screen and (max-width: 600px) {
    .login-second {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%; 
        border-radius: 8px;
      }
    
  }
 */


 .register {
  background-image: url('../../../assets//images/registerbackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.login-second {
  background-image: url('../../../assets/images/unsplash_m9pzwmxm2rk.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 75%;
  height: 85%;
  border-radius: 8px;
}


.login_sign_in_color {
  color:  #98690C;
 
}

.hello{
 padding-top: 50px;
}

.register_card .other_way{
  color: #171A1F;
}

.register_card .field_cont{
  margin-top: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .login-second {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
 
}

.register_card{
  width: 100%;
  /* max-width: 24rem; */
}

@media only screen and (min-width: 767px){
  .register{
    height: 100vh !important;
  }
  .register_card .field_label{
    font-size: 14px !important;
  }

  .other_way{
    font-size: 12px !important;
  }

  .register_card .form-control{
    font-size: 12px;
  }

  .register_btn{
    font-size: 14px;
  }
}

@media only screen and (min-width: 1300px){
  .register_card{
    /* max-width: 28rem !important; */
  }
  .register_card .card-body{
    /* padding: 1rem !important; */
  }
  .register_card .login_sign_in_color{
    padding-top: 0.5rem !important;
    font-size: 1.5rem !important;
  }

  .register_card .card-body .field_cont{
    padding: .5rem !important;
  }
  .register_card .card-body .field_cont label{
    font-size: 1rem !important;
  }
  .register_card .card-body .field_cont input{
    padding: 10px !important;
  }

  .register_card .btn_cont{
    padding: .5rem !important;
    margin: 0 !important;
  }
  .register_card .btn_cont button{
    margin-bottom: 1rem !important;
  }

  .register_card .other_way{
    padding-top: .5rem !important;
  }
}