.form_container{
  background: #F8F5F2;
  box-shadow: 0px 4px 4px 0px #7B3F0080;
  border-radius: 8px;
}

.loading_container{
  position: absolute;
  top: 50%;
  left: 50%;
}

.error_text{
  font-size: 14px;
  margin-bottom: 0;
}
