.home-container {
    width: 100%;
    background-color: #F2ECE6;
  }
  
  /* Responsive background image */
  .home_image {
    background: url('../../assets/images/home.png') no-repeat center center;
    background-size: cover;
    height: 40vh;
    width: 100%;
  }

  .card-size{
    width: "28rem !important" 
     }

     .bottom_card .menu_card{
      height: 200px;
      padding-top: 50%;
     }

     
.card-size .toggle-group {
  width: 100%;
}

.card-size .toggle-button:focus,
.card-size .toggle-button:active {
  outline: none;
  box-shadow: none;
  background: #D7BB9E;
  border: inherit;
}

.card-size .toggle-button {
  width: 50%;
  border-radius: 8px;
  border: 1px solid #D7BB9E;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.card-size .toggle-button.active {
  background: #D7BB9E;
  color: #7B3F00;
}

.card-size .outline-cream {
  background: transparent;
  color: #171A1F;
}

.cream_btn{
  background: #FFF4D0;
  border-radius: 4px;
  font-size: 12px;
  color: #7B3F00;
  padding: 5px;
  border: 1px solid transparent;
  font-weight: 600;
}

.menu_cost{
  font-size: 14px;
  color: #171A1F;
  margin-bottom: 0;
  font-weight: 600;
}

  
  /* Ensure text alignment and spacing on smaller screens */
  @media (max-width: 768px) {

    .home_image{
        background-size: cover;
        height: 20vh;
        width: 100%;
    }
    .card-size{
        width: "18rem" 
     }
   
  }
  

/* 
  .img-rounded-circle {
    border-color: #D7BB9E;
    width: 150px;
    transform: translateX(1.5rem);
    top: 40px;
    height: 150px;
    object-fit: cover;
    border-radius: 3px;
    border: 5px solid white;
    position: relative;
    z-index: 1;
    padding-left: 20px;
  }
   */

   .checkout_btn{
    width: 100%;
   }

   @media only screen and (min-width: 1300px){
    .home-container .men_row{
      padding: 3rem;
    }
   }

   @media only screen and (min-width: 576px){
    .bottom_card .menu_card{
      padding-top: 40% !important;
    }
    .bottom_card .img_container{
      top: -34% !important;
      width: 100% !important;
    }
   }

   @media only screen and (min-width: 1300px){
    .card-size .toggle-group{
      width: 80%;
    }
    .checkout_btn{
      width: 80%;
    }
   }