
.sidebar-narrow-unfoldable:hover {
    width: 64px !important; /* Maintain folded width on hover */
    transition: none !important; /* Disable transition effects */
  }

  .sidebar-narrow-unfoldable:hover{
    box-shadow: none !important;
  }

  .outline_btn{
    border: 1px solid #7B3F00;
    background: white;
    color: #7B3F00;
    border-radius: 4px;
    width: 100%;
  }