.radio_cont{
    width: 75%;
    margin: auto;
    border: 1px solid #D3CCB4;
    justify-content: center;
    gap: 1.5rem;
}


.toggler_cont .toggle-group {
    width: 50%;
}

.toggler_cont .toggle-button{
    transition: all 0.3s ease;
    /* transition: background-color 0.1s ease, color 0.3s */
}

.toggler_cont .toggle-button:focus,
.toggler_cont .toggle-button:active {
    outline: none;
    box-shadow: none;
    background: #7B3F00;
    border: inherit;
}

.toggler_cont .toggle-button {
    width: 50%;
    border-radius: 8px;
    border: 1px solid #D3CCB4;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.toggler_cont .toggle-button.active {
    background: #7B3F00;
    color: white;
}

.toggler_cont .outline-btn {
    background: transparent;
    color: #7B3F00;
}

/* For mobole view */
  @media screen and (max-width: 355px){
    .radio_cont{
        width: 100%;
        gap: 0;
    }
    .toggler_cont .toggle-group{
      width: 100%;
    }
    .custom-radio label{
        padding-left: 1.5rem;
    }
  }

  /* Order Details View CSS */
  .order_details .modal-content{
    padding: 1rem;
  }
  .order_details .modal-header{
    border-bottom: 1px solid #7B3F0080;
    padding-left: 0;
    padding-bottom: .5rem;
  }
  .order_details .modal-header .modal-title{
    color: #7B3F00;
  }

  .order_details .order_table thead th{
    color:  #7B3F0080;
    padding-bottom: 1rem;
  }

  .order_details .name_column{
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .order_details .name_column p{
    font-size: 14px;
    margin-bottom: 0;
  }

  .order_details .order_table td{
    font-size: 14px;
  }

  /* Order List CSS */
  .order_list .btn-brown {
    background: #7B3F00;
    box-shadow: 0px 8px 17px 0px #6D31ED26;
    box-shadow: 0px 0px 2px 0px #6D31ED1F;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid transparent;
}

.order_list .btn-brown:focus,
.order_list .btn-brown:active {
    outline: none;
    box-shadow: none;
    background-color: #7B3F00;
    color: white;
}

.order_list .btn-brown:hover {
    border: 1px solid #7B3F00;
    background: transparent;
    color: #7B3F00;
}

/* Custom styles for the modal */
.thank_order .modal-content {
  border-radius: 4px;
  border: none;
}

.thank_order .modal-content .btn-warning {
  background-color: #7B3F00; /* Custom color to match the design */
  border: 1px solid #D9D9D9;
  font-weight: 500;
}

.thank_order .modal-content .btn-warning:hover,
.thank_order .modal-content .btn-warning:active,
.thank_order .modal-content .btn-warning:focus {
  background-color: #8b4513;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.thank_order .modal-content .btn-outline-light{
  font-weight: 500;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  color: #7B3F00;
}

.thank_order .modal-content .btn-outline-light:hover{
  color: #7B3F00;

}

.thank_order .nav_dashboard {
  background: white;
  border: 1px solid #7B3F00 !important;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #7B3F00;
}

.thank_order .nav_dashboard:hover{
  background: #7B3F00;
  color: white !important;
}